@tailwind base;
@tailwind components;
@tailwind utilities;


:root{--accent:#0b6b3a}
body{background-color:#05080b}


.video-bg{object-fit:cover;width:100%;height:100%;position:fixed;top:0;left:0;z-index:-1}
.glass{background:rgba(255,255,255,0.04);backdrop-filter:blur(6px)}
